---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Email from '../components/Email.astro';
---

<Layout title="Frontend Mentor | Ping coming soon page">
	<main class="font-franklin py-14 px-10 flex flex-col text-center max-w-2xl m-auto">
		<h1 class="text-blue-dark text-base font-bold mb-6 [&+h2]:mb-4">PING<span class="text-blue">.</span></h1>
		<h2 class="text-gray text-2xl font-thin [&+h3]:mb-7">We are launching <span class="text-blue-dark font-bold">soon!</span></h2>
		<h3 class="text-sm font-md">Subscribe and get notified</h3>
		<Email/>
	</main>
</Layout>