---

---
<form class="flex flex-col justify-center flex-1" novalidate>
<input class="border-blue-pale border-2 rounded-3xl px-8 py-3 text-sm placeholder:text-blue-pale mb-2 focus:outline-blue-dark font-medium" type="email" required placeholder="Your email address..."/>
<button class="bg-blue text-white text-sm py-3 rounded-3xl shadow-lg shadow-blue-pale font-semibold transition-opacity hover:opacity-75 ">Notify Me</button>
</form>