<footer class="fixed bottom-0 right-0 w-full mb-6">
    <div class="flex justify-center flex-row mb-4 [&>*]:mx-3 [&>*]:text-blue [&>*]:w-8 [&>*]:px-2 [&>*]:py-[0.15rem] [&>*]:border-[1px] [&>*]:border-blue-gray [&>*]:rounded-full">
    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
</div>
<p class="text-sm">&copy; Copyright Ping. All rights reserved.</p>
</footer>