---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f0d70bd660.js" crossorigin="anonymous"></script>		<title>{title}</title>
	</head>
	<body>
		<main class="font-franklin py-6 bg-slate-300 flex flex-col text-center max-w-2xl m-auto">
			<slot />
		</main>
	</body>
</html>